@font-face {
font-family: 'Sony Sketch EF';
font-style: normal;
font-weight: normal;
src: local('Sony Sketch EF'), url('Sony_Sketch_EF.woff') format('woff');
}

h1{
  font-family: 'Sony Sketch EF';
  color:#9eebcf;
}
